.register{
    background-image: url('/img/imagenCel.png');
}

.logo{
    margin-top: 40px;
}

.inputsRegister{
    padding-left: 5%;
    padding-right: 5%;
}

.sectionRegister{
    justify-content: center;
    align-items: center;
    border-radius: 2.5%;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

.btnRegistro{
    padding-left: 25%;
    padding-right: 25%;
    background-color: #0180be;
    border-color: #0180be;
}

.separador{
    padding-top: 50px;
}

.form-label{
    margin-bottom: 0 !important;
}
