.register{
    background-image: url('/img/imagenCel.png');
}

.logo-login, .logo-register{
    margin-top: 40px;
}

.inputsRegister{
    padding-left: 5%;
    padding-right: 5%;
    
}

.divRegister{
    justify-content: center;
    align-items: center;
    border-radius: 2.5%;
    background-color: #ffffffcf;
    margin: 20px;
    padding: 20px;
}

.btnRegistro{
    padding-left: 25%;
    padding-right: 25%;
    background-color: #0180be;
    border-color: #0180be;
}

.separador{
    padding-top: 50px;
}

.separador-home{
    padding-top: 10px;

}

.form-label{
    margin-bottom: 0 !important;
}

.botonGoogle{
    padding-top: 20px;
}

.navbar{
    list-style: none;
}

.logo-home, .logo-persona, .logo-mensaje, .log-out, .logo-publicar, .logo-lupa, .logo-options{
    width: 8vw;
    height: 8vw;
}


.logo-options{
    width: 20px;
    height: 20px;
}

.btn-options{
    background: none;
        color: inherit;
        border: none;
}

.article1{
    margin-top: 70px;
}


.logo-img, .logo-video, .logo-link, .logo-like, .logo-comment, .logo-share{
    width: 6vw;
    height: 6vw;   
}

.header-home{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
    border-bottom: 1px #C4C4C4 solid;
    top: 0;
    padding-top: 0px;
}

.footer-home{
    overflow: hidden;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: white;
    border-top: 1px #C4C4C4 solid;
    bottom: 0;
    padding: 10px 0;
}

footer.footer-home > nav {
    display: flex;
    justify-content: space-around;
}

ul, .nombre{
    padding-bottom: 0;
    margin-bottom: 0;
}

ul.navbar{
    padding-top: 14px;
    padding-bottom: 0;
}


.btn-publicar{
    width: 100px;
    height: 40px;
    background-color: #0180be;
}

ul.navbar > li { 
padding-left: 20px;
}

.publicar{
    padding: 0.5vw;
    border-top: 0.080vw #C4C4C4 solid;
    border-bottom: 0.080vw #C4C4C4 solid;

    margin: 15px 0;
    padding: 5px 10px;
}

.input-publicar{
    border: none;
    outline: none;
    font-size: large;
}

.logo{
    margin-left: 4vw;
}

.foto-perfil{
    margin: 1vw;
}

nav > ul.navbar {
display: flex;
align-items: center ;
}

.container-publicar, .pub-1{
    align-items: center;
}

ul.options-publish > li {
     border: none;
}

.nombre{
    font-weight: bold;
}

.interacciones{
    list-style: none;
    margin: 13px;
}

section.publicaciones > article{
    border-bottom: 10px #C4C4C4 solid;
}

.text{
    margin-left: 13px;
}

section.publicaciones > article > p{
    padding-right: 13px;
}